<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.example.performance">

    <application>
        <activity android:name=".activity.PerformanceMainActivity"></activity>
        <activity android:name=".activity.MemoryShakeActivity" />
    </application>

</manifest>